[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
gunicorn = "*"
python-decouple = "*"
cloudinary = "*"
django-heroku = "*"
dj-database-url = "*"
django-crispy-forms = "*"

[dev-packages]

[requires]
python_version = "3.8"
