{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="row my-5">
    <div class="col-md-6 offset-md-3">
     <div class="card p-3">
      <form action="" method="POST" >
        {% csrf_token %}
        <!-- 2 column grid layout with text inputs for the first and last names -->
        <div class="row mb-4">
          <div class="col">
            <div class="form-outline">
              <input type="text" id="first_name" name="first_name" class="form-control" />
              <label class="form-label"  for="first_name">First name</label>
             
              
            </div>
          </div>
          <div class="col">
            <div class="form-outline">
              <input type="text" id="last_name" name="last_name" class="form-control" />
              <label class="form-label" for="last_name">Last name</label>
              
              
            </div>
          </div>
        </div>
        <div class="form-outline mb-4">
          <input type="text" id="username" name="username" class="form-control" />
          <label class="form-label" for="username">Username</label>
          
         
        </div>
        <!-- Email input -->
        <div class="form-outline mb-4">
          <input type="email" id="email" name="email" class="form-control" />
          <label class="form-label" for="email">Email address</label>
          
         
        </div>
      
        <!-- Password input -->
        <div class="form-outline mb-4">
          <input type="password" id="password1" name="password1" class="form-control" />
          <label class="form-label"  for="password1">Password</label>
         
          
        </div>
        <div class="form-outline mb-4">
          <input type="password" id="password2" name="password2" class="form-control" />
          <label class="form-label"  for="password2">Repeat Password</label>
          
          
        </div>
      
        <!-- Checkbox -->
        <div class="form-check d-flex justify-content-center mb-4">
          <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked />
          <label class="form-check-label" for="form2Example33">
            Subscribe to our newsletter
          </label>
        </div>
      
        <!-- Submit button -->
        <div class="my-2">
          <button type="submit" class="btn btn-primary mb-4">Sign up</button>
        </div>
      
        <!-- Register buttons -->
        <div class="text-center">
          <p>or sign up with:</p>
          <button type="button" class="btn btn-primary btn-floating mx-1">
            <i class="fab fa-facebook-f"></i>
          </button>
      
          <button type="button" class="btn btn-primary btn-floating mx-1">
            <i class="fab fa-google"></i>
          </button>
      
          <button type="button" class="btn btn-primary btn-floating mx-1">
            <i class="fab fa-twitter"></i>
          </button>
      
          <button type="button" class="btn btn-primary btn-floating mx-1">
            <i class="fab fa-github"></i>
          </button>
        </div>
      </form>
     </div>
    </div>
  </div>
</div>
{% endblock %}