{% extends 'base.html' %}
{% block content %}

<div class="container my-4">
  <div class="card m-4 p-2">
    <h1 class="ms-5">Search Results</h1>
    <div class="row mt-3">
      {% for business in object_list %}
      <div class="col-md-4  p-3 mb-5 bg-body rounded">
         
         <div class="card">
             <!-- <p> {{post.description}}</p> -->
          <a href="">
              <img src="{{business.business_logo.url}}"class="p-0 m-0" style="object-fit:cover;" height="400px" width="100%"  alt="{{post.title}}">
          </a>
          <div class="d-flex m-3">
              <p class="text-uppercase text-info me-2"> {{business.business_name}}</p>
              <p class="text-uppercase text-info"> {{business.business_email}}</p>
          </div>
          <hr>
         </div>
         {% empty %}
        <div>
            <h2 class="text-center text-danger">Ooops ! There Is No Business Found.. </h2>
        </div>
      </div>
      {% endfor %}
  </div>
  </div>

</div>

{% endblock %}