{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-5">
            <div class="card">
                <img src="{{neighbourhood.hood_img.url}}" alt="">
            </div>
        </div>
        <div class="col-md-5">
            <div class="card">
                <p>{{neighbourhood.neighbourhood_name}}</p>
                <p>{{neighbourhood.description}}</p>
               <div>
                <a href="{% url 'addbusiness' %}" class="btn btn-info">Create Business</a>
               </div>
            </div>
           
            {% for business in businesses %}
            <div class="card">
                <p>{{neighbourhood.business.business_name}}</p>
              <p>{{business.business_name}}</p>
              <img src="{{business.business_logo.url}}" alt="">
            </div>
            {% endfor %}
        
        </div>
    </div>
</div>
{% endblock %}