body{
    background-color: #edf1f5;
}
.login{
    /* background: url(/static/images/photo7.jpg); */
    background: url(/static/images/photo3.jpg);
    /* background: url(/static/images/photo2.jpg); */
    /* background: url(/static/images/background.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    height: 110vh;
    
}

.card-custom{
    background-color: #A9BACA;
    color: white;
}