<nav class="navbar navbar-expand-lg navbar-light bg-light">
  
    <div class="container-fluid">
      {% if user.is_authenticated %}
      <a class="navbar-brand mx-5" href="{% url 'index' %}"><img src="/static/images/home.webp" width="30px" height="30px" class=" rounded-circle" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active mx-4" aria-current="page" href="{% url 'post' %}"><img src="/static/images/boxadd.png" width="30px" height="30px" class=" rounded-circle" alt=""> </a>
          </li>
         
          <li class="nav-item">
            <a class="nav-link " href="{% url 'hood' %}" tabindex="-1" aria-disabled="true">View Hood</a>
          </li>
        </ul>
        <form class="d-flex me-auto" action="{% url 'search_results' %}" method="GET">
          <input class="form-control me-2" type="search" name="query" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="search">Search</button>
        </form>
        <ul class="navbar-nav  mb-2 mb-lg-0 me-5">
          <li class="nav-item me-4">
            <a class="nav-link " href="{% url 'profile' %}" tabindex="-1" aria-disabled="true">
              {% if user.profile.proc_img %}
              <img src="{{user.profile.proc_img.url}}" width="30px" height="30px" class=" rounded-circle mx-3" alt="">
              {% else %}
              <img src="/static/images/user.webp" width="30px" height="30px" class=" rounded-circle" alt="">
              {% endif %}
            </a>
          </li>
            <li class="nav-item">
                <a class="nav-link active btn btn-sucess" aria-current="page" href="{% url 'logout' %}">Logout </a>
              </li>
              {% else %}
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'login' %}">Login </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'register' %}">Sign up</a>
            </li>
                         
          </ul>
      </div>
      {% endif %}
    </div>
  </nav>